body {
  background-color: #393E46;
  text-align: center;
  font-family: Arial, sans-serif;
}

.container {
  margin-top: 50px;
}

h1 {
  font-size: 3rem;
  color: #4ECCA3;
}

.dice {
  display: inline-block;
  margin: 20px;
}

p {
  font-size: 1.5rem;
  color: #EEEEEE;
}

img {
  width: 150px;
}

button {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #4ECCA3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3aa889;
}